<div class="product-variant-selector">
  <div *ngFor="let option of productOptions">
    <h3>{{ option.name }}</h3>
    <div class="variant-options">
      <button
        *ngFor="let variant of option.variants"
        (click)="selectVariant(option, variant)"
        [ngClass]="{
          selected:
            variant.var_key === selectedMaterialKey ||
            variant.var_key === selectedColorKey ||
            variant.var_key === selectedSizeKey,
          disabled: !buttonMap[variant.variant_name].status
        }"
      >
        {{ variant.variant_name }}
      </button>
    </div>
  </div>
</div>
