<!-- <div class="product-variant-selector">
  <div *ngFor="let option of productOptions">
    <h3>{{ option.name }}</h3>
    <div class="variant-options">
      <button
        *ngFor="let variant of option.variants"
        (click)="selectVariant(option, variant)"
        [ngClass]="{
          selected:
            variant.var_key === selectedMaterialKey ||
            variant.var_key === selectedColorKey ||
            variant.var_key === selectedSizeKey,
          disabled: !buttonMap[variant.variant_name].status
        }"
      >
        {{ variant.variant_name }}
      </button>
    </div>
  </div>
</div> -->

<!-- ------------------------ new code ----------------------------  -->

<div class="product-variant-selector">
  <div *ngFor="let option of productOptions2">
    <h3>{{ option.name }}</h3>
    <div class="variant-options">
      <ng-container *ngFor="let variant of option.variants">
        <button
          *ngIf="variant.status"
          (click)="selectVariant2(option, variant)"
          [class.selected]="isVariantSelected(variant.var_key)"
        >
          {{ variant.variant_name }} - {{ variant.var_key }}
        </button>
      </ng-container>
    </div>
  </div>
</div>
